awscli==1.11.167
boto3==1.4.7
botocore==1.7.25
click==6.7
colorama==0.3.7
docutils==0.14
feedparser==5.2.1
Flask==0.12.2
helpers==1.0.0
itsdangerous==0.24
Jinja2==2.9.6
jmespath==0.9.3
MarkupSafe==1.0
pyasn1==0.3.7
python-dateutil==2.6.1
PyYAML==3.12
rsa==3.4.2
s3transfer==0.1.11
six==1.11.0
Werkzeug==0.12.2
