<!DOCTYPE html>
<html>
    <head>
        <title> Save Podcast</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
        <!-- Added style -->
        <link href='http://fonts.googleapis.com/css?family=Lato:400,700,bold' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}" />
        
    </head>
    <body>
        <h1 align="middle">Save Podcast</h1>
        <br>
        <div style="width: 80%; margin:auto;">
          <h2>Would you like to download the podcast or email it to yourself?
        
        </div>

      
            


    </body>
</html>
