<!DOCTYPE html>
<html>
    <head>
        <title>Visual System</title>
        <!-- Bootstrap -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


        <!-- Added style -->
        <link href='http://fonts.googleapis.com/css?family=Lato:400,700,bold' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}" />
        
        <!-- <script src="https://code.jquery.com/jquery-1.10.2.js"></script>  -->

    </head>

    <body>
        <div style="width:80%;margin:auto;">
            <!-- Instructions -->
            <br>
            <p>
                Please browse a stream of podcasts recommended for you and click on the ONE that <b>you like most</b>.
                By making a selection, you will be committing to listening for a <b>full 5 minutes</b>.
                The stream of podcasts is long, you can scroll down to the bottom to load more recomendations.
            </p>
            <br>
            <br>
        

            <!-- Podcast Grid sendAndRedirect(this)-->
            
                <table  class = "tbl" align="center">
                {% for i in range(0, podcast_options|length) %}
                <tr class="vis_tr">
                    <td class = "serial_cell"> {{i+1}} </td>
                    <td>
                        <div id="podcast-{{ i }}" data-toggle="modal" data-target="#podModal"  data-id= "{{i}}" data-name = "{{ podcast_options[i]['podcasts'][0]["title"] }}" onclick = "getDiv(this)" class="title-cell">{{ podcast_options[i]['podcasts'][0]["title"] }}
                         </div>
                    </td>
                </tr>

                {% endfor %}
                    </tr>

                </table>
                <div id="podModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                  
                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Podcast Selection Confirmation</h4>
                        </div>
                        <div class="modal-body">
                          <p class="modalText">You have chosen to listen to </p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default mod-btn" data-dismiss="modal">Cancel</button>
                          <button type="button" class="btn btn-primary mod-btn" onclick="sendAndRedirect(_value)">Yes</button>
                        </div>
                      </div>
                  
                    </div>
                  </div>
        </div>
            </div>


            <script>

            var _value      
            $(document).ready(function () {
                console.log("Loaded")
                $('#podModal').on('show.bs.modal', function (event) { // id of the modal with event
                  var button = $(event.relatedTarget) // Button that triggered the modal
                  var podId = "podcast-"+button.data('id') // Extract info from data-* attributes
                  var podname = button.data('name')
                 // var title = 'Podcast Selection Confirmation  of Podcast ' + (podId+1)
                  var content = 'Are you sure want to listen to ' + podname + '?'
                  
                  // Update the modal's content.
                  var modal = $(this)
                  //modal.find('.modal-title').text(title)
                  modal.find('.modal-body').text(content)	  

                  // And if you wish to pass the podId to modal's 'Yes' button for further processing

                  //modal.find('button.btn-primary').val(this)
                  //console.log(button.btn-primary.val)
                  
                })
            })

            function getDiv(e){
                _value = e
                
            }
                // helper functions for data collection
                function init_log() {
                  log["view"] = [];
                  log["view"].push({
                    "layout" : get_layout_info(),
                    "time" : new Date().getTime(),
                    "window" : get_window_info()
                  });
                }

                function get_layout_info() {
                    var layout_info = {}
                    layout_info["top"] = $("#podcast-0").offset().top;
                    layout_info["height"] = $("#podcast-{{ncols}}").offset().top - $("#podcast-0").offset().top;
                    return layout_info;
                }

                function get_window_info() {
                    var window_info = {}
                    window_info["top"] = $(window).scrollTop();
                    window_info["bot"] = $(window).height() + $(window).scrollTop();
                    return window_info;
                }

                // handlers
                var log = {};
                init_log();

                $( window ).scroll(function() {
                    log["view"].push({
                      "layout" : get_layout_info(),
                      "time" : new Date().getTime(),
                      "window" : get_window_info()
                    });
                });

                function sendAndRedirect(e) {
                    console.log("In send and req")
                    console.log(e)
                    console.log(e.id)
                    var xhr = new XMLHttpRequest();
                    xhr.open("POST", "/_data-collector", true);
                    xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');

                    xhr.onreadystatechange = function() {
                      if (xhr.readyState === 4) {
                        var id = e.id.match(/^podcast-(\d+)/)[1]
                        location.href = 'player/' + id;
                      }
                    }
                    xhr.send(JSON.stringify(log));
                }
            </script>
        </div>
    </body>
</html>
